body {
	margin: 0;

	background: url("../image/321.jpg") no-repeat;

	font-falily: Tahoma;
	leni-height: 1.5;
	font-size: 18px;
}
.card {
	width: 400px;
	margin: 30px auto;
	padding: 20px;

	background-color: #f5efef;
	box-shadow: 0 5px 10px #ccc;
	border-radius: 19px;
}
.card_resume {
	font-size: 24px;
	text-align: center;
	color: #000;
}

.card_photo {
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
}

.card_tittle {
	font-size: 20px;
	text-align: center;
	color: #000;
}

.card_text {
	font-size: 14px;
}

.card_subtitle {
	font-size: 18px;
	color: #315fc7;
}

.card_list {
	padding-left: 0;
	list-style-position: inside;
	font-size: 14px;

}

.telefon {
	width: 50px;
	height: 50px;
	padding: 2px;
}

.email
{
	width: 50px;
	height: 50px;
}

.instagram
{
	margin-left: 5px;
	width: 50px;
	height: 50px;
}