h2 {
    width: 100%;  
    height: 100%; 
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
h2:before,h2:after {
    content: '';
    display: inline-block;
    position: relative;
    border-bottom: 4px solid #000;
    top: -1px;
    height: 1px;
    width: 50%;
    vertical-align: middle;
}
h2:before {
    left: -10px;
    margin-left: -50%;
}
h2:after {
    left: 10px;
    margin-right: -50%;
}